#loginBody, #signupBody{
    padding: 10px;
    text-align: center;
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column{
    position: relative;
    text-align: center;
}

.collapsibleBtn {
    background:none!important;
    border:none; 
    padding:0!important;
    cursor:pointer;
}
.catBtn {
    font-size: 30px;
}
.labelBtn {
    font-size: 25px;
}

.collapsibleBtn:hover{
    text-decoration:underline;
}

#logintitle{
    font-weight: bolder;
}

#password, #username{
    padding: 5px 7px;
    margin: 8px;
    transition: 0.4s;
}

input:focus{
    border: 2px solid #47a88a;
}

#loginbtn, #signupbtn{
    width: 100px;
    height: 60px;
    background-color: #47a88a;
    border: 2px solid #47a88a;
    border-radius: 3px;
    transition-duration: 0.4s;
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 1%;
    cursor: pointer;
}

#loginbtn{
    margin-bottom: 5%;
}

#loginbtn:hover, #signupbtn:hover{
    background-color: white;
    color: #5d5c61;
}

#modalTitle {
    color:#FF0000;
    font-style: bold;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

#YtBookBrand {
    /* color:#FF0000;
    font-style: bold;
    text-align: center;
    font-size: 20px;
    font-weight: 700; */
}

.row{
    font-size: 14pt;
    padding-bottom: 10px;
}

.container{
    height: 10%;
    width: 100%;
    border: 1px;
    font-family: 'Segoe UI';
}
.navbar {
    background-color: #e3f2fd;
}

#addVideoBtn {
    width: 150px;
    margin-top:5px;
    margin-right: 6px;
    font-size: 18px;
}

.panel-panel-primary-education{
    background-color: #47a88a;
    border-radius: 10px;
}

.panel-panel-primary-technology{
    background-color: #ff8b2c;
    border-radius: 10px;
}

.panel-heading{
    color: white;
}

.panel-body{
    overflow: hidden;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.video-section{
    width: 33%;
    height: 100%;
    float: left;
    margin-right: 0;
}

.bookmark-title, .notes-title{
    font-style: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.bookmarks-section, .notes-section{
    width: 30%;
    height: 90%;
    border: solid #968a8a 2px;
    border-radius: 10px;
    float: left;
    margin-right: 2%;
    word-wrap: break-word;
}