body {
    font-family: 'Poppins', sans-serif;
}

#loginBody, #signupBody{
    padding: 10px;
    text-align: center;
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

.column {
    position: relative;
    text-align: center;
}

/* ------------------  Buttons ------------------ */
.category-btn, .timestampBtn, .label-btn{
    background:none!important;
    border:none; 
    padding:0!important;
    cursor:pointer;
}

.category-btn {
    font-size: 35px;
    border:inherit;
    font-style: bold;
}

.label-btn {
    font-size: 20px;
    margin-top: 10px;
}

.category-btn:hover, .label-btn:hover, .timestampBtn:hover{
    text-decoration:underline;
}

#delete-video {
    padding: 20px;
    float: right;
}

.timestampBtn {
    color: #1E90FF;
}

.submitBtn {
    font-size: 16px;
}

/* ------------------ End Buttons ------------------ */

/* ------------------ Login ------------------ */
#logintitle{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

#password, #username{
    padding: 5px 7px;
    margin: 8px;
    transition: 0.4s;
}

input:focus{
    border: 2px solid #47a88a;
}

#loginbtn, #signupbtn{
    font-family: 'Poppins', sans-serif;
    width: 100px;
    height: 60px;
    background-color: #47a88a;
    border: 2px solid #47a88a;
    border-radius: 3px;
    transition-duration: 0.4s;
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 1%;
    cursor: pointer;
}

#loginbtn{
    margin-bottom: 5%;
}

#loginbtn:hover, #signupbtn:hover{
    background-color: white;
    color: #5d5c61;
}
/* ------------------ End Login ------------------ */

/* ------------------ Input types ------------------ */
input[type="text"], input[type="time"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus {
    -webkit-box-shadow: none;
    border-bottom: 1px solid blue;
    box-shadow: none;
    outline: none;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
}

input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance:none;
    appearance: none;
    margin: -10px; 
}

/* ------------------ End Input types ------------------ */

.container{
    height: 10%;
    width: 100%;
    border: 1px;
    font-weight: bold;
}


/* ------------------ Dialogs ------------------ */
#submit-book {
    margin-top: 30px;
    font-size: 20px;
}

.dialog-footer {
    margin-top: 15px;
}

.add-bookmark {
    position: relative;
    float: center;
    margin-top: 7px;
    /* margin-left: 7px;
    position: absolute;
  */
}

.dialog-video {
    margin-top: 1em;
    margin-bottom: 1em;
}

.dialog-other, .dialog-category, .dialog-label, .dialog-bookmarks, .dialog-notes, #dialog-add-video {
    text-align: center;
    margin-top: 20px;
}

#dialog-title, .dialog-category, .dialog-label {
    margin-left: 10px;
}

.dialog-other {
    float: right;
    width: 40%;
}

.ui-dialog .ui-dialog-title {
    display: block;
    text-align: center;
    width: 100%;
  }

.ui-dialog-titlebar {
    color: white;
    background: #47a88a;
}
.ui-dialog .ui-dialog-content {
    color: #47a88a;
}
/* ------------------ End Dialogs ------------------ */




/* ------------------ Navbar ------------------ */
.navbar {
    background-color: #e3f2fd;
}

#navbar{
    background-color: #f2f2f2;
    border-radius: 0px;
}

.navbar-brand{
    font-size: 30px;
}

#navbar-words{
    color: black;
    font-size: 20px;
}
#navbar-title{
    font-size: 30px;
    color: black;
    font-weight: bold;
}

#image-icon {
    width: 35px;
    height: 35px;
    margin-top:8px;
    margin-right: 6px;
    margin-left: 5px;
}

#addVideoBtn {
    width: 150px;
    margin-top:5px;
    margin-right: 6px;
    font-size: 18px;
    background-color: #47a88a;
    color:white;
    border: 2px solid #47a88a;
    border-radius: 3px;
    transition-duration: 0.4s;
}

#addVideoBtn:hover{
    background-color: white;
    color: #5d5c61;
}
/* ------------------ End Navbar ------------------ */


/* ------------------ Main page video panels ------------------ */
a:hover{
    color: blue;
}

.boxTitle {
    color: #47a88a;
    font-size: 20px;
    margin: 12px 0px 5px 0px;
}

.panel-panel-primary-education{
    background-color: #47a88a;
    border-radius: 10px;
}

.panel-panel-primary-technology{
    background-color: #ff8b2c;
    border-radius: 10px;
}

.panel-heading {
    color: white;
}

.panel-body {
    text-align: center;
    overflow: hidden;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.video-section {
    float: left;
    width: 60%;
}

.video-text {
    float: right;
    width: 40%;
}

.bookmarks-section, .notes-section {
    width: 30%;
    height: 90%;
    border: solid #c2baba 2px;
    border-radius: 4px;
    float: left;
    margin-right: 2%;
    word-wrap: break-word;
    font-weight: 500;
}

.all-bookmarks {
    height: 400px;
    overflow: auto;
}

h4 {
    margin: 0px;
}

/* ------------------ Accordion ------------------ */

.Label-Video .ui-accordion-header{
    background:#47a88a;
    color:white;
 }
